In [4]:
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
import pandas as pd
from shapely import wkt
from shapely.wkt import loads
import re
from folium.plugins import HeatMap

In [5]:
shapefile_path = 'CartografiaBase.shp'
lisbon_coordinates = [38.7223, -9.1393]

gdf = gpd.read_file(shapefile_path)
gdf_json = gdf.to_crs(epsg='4326').to_json()

m = folium.Map(location = lisbon_coordinates, zoom_start=12)


folium.GeoJson(gdf_json).add_to(m)

m.save('map.html')

Quadricula = quadrado 200m x 200m

Número total de quadriculas = 3743

C1- número de dispositivos distintos em quadricula
C2- número de dispositivos em roaming distintos em quadricula (apagável)
C3- número de dispositivos distintos que permaneceram na quadricula
C4- número de dispositivos distintos que permaneceram na quadricula em roaming (apagável)
C5- número de entradas de dispositivos distintos na quadricula
C6- número de saidas de dispositivos distintos na quadricula
C7- número de entradas de dispositivos distintos na quadricula em roaming (apagável)
C8- número de saidas de dispositivos distintos na quadricula em roaming (apagável)
C9- número de dispositivos distintos com os dados ligados (apagável)
C10- número de dispositivos distintos com os dados ligados em roaming (apagável)
C11- número de chamadas de voz com origem na quadrícula (apagável)
D1- Top 10 paises em roaming (apagável)
E1- número de chamadas de voz com término na quadrícula (apagável)
E2- ritmo médio de downstream da quadricula (apagável)
E3- ritmo médio de upstream da quadricula (apagável)
E4- ritmo de pico de downstream da quadricula (apagável)
E5- ritmo de pico de downstream da quadricula (apagável)
E6- top 10 aplicaçoes (apagável)
E7- duraçao da permanencia minima na quadricula
E8- duraçao da permanencia média na quadricula
E9- duraçao da permanencia maxima na quadricula
E10- numero de dispositivos que efetuam partilha de ligação na quadricula (apagável)

In [6]:
file_path = 'January2023.csv' 
file_path_e = 'wktComplete.csv'

columns_to_keep_vodafone = ['Grid_ID','Datetime','C1', 'C3', 'C5', 'C6', 'E7', 'E8', 'E9']
columns_to_keep_wkt = ["grelha_id", 'nome',
       'wkt']

df_dados_vodafone = pd.read_csv(file_path, encoding='latin1',usecols=columns_to_keep_vodafone)
df_wkt = pd.read_csv(file_path_e,encoding='latin1',usecols=columns_to_keep_wkt)

df_wkt = df_wkt.rename(columns={'grelha_id': 'Grid_ID'}) 

merged_df = pd.merge(df_dados_vodafone, df_wkt, on='Grid_ID')

merged_df = merged_df.drop(0)

In [9]:
#patterns = ['A1', 'Eixo Norte-Sul', 'CRIL', 'Segunda Circular', '2ª Circular']
patterns = ['A2']

combined_pattern = '|'.join(patterns)

merged_df_truncated = merged_df[merged_df.nome.str.contains(combined_pattern, regex=True)]

merged_df_truncated

,Grid_ID,Datetime,C1,C3,C5,C6,E7,E8,E9,nome,wkt
7454592,2877,2023-01-01T00:00:00.000Z,36.090000,36.090000,1.430000,25.790001,2,8.60,16,Segunda Circular {Relógio - A2},MULTIPOLYGON (((-9.12710786547537 38.764274887...
7454593,2877,2023-01-01T00:15:00.000Z,345.929993,40.180000,329.440002,319.519989,0,8.17,300,Segunda Circular {Relógio - A2},MULTIPOLYGON (((-9.12710786547537 38.764274887...
7454594,2877,2023-01-01T00:30:00.000Z,171.839996,40.439999,157.630005,137.600006,0,8.05,300,Segunda Circular {Relógio - A2},MULTIPOLYGON (((-9.12710786547537 38.764274887...
7454595,2877,2023-01-01T00:45:00.000Z,279.579987,64.889999,258.809998,223.830002,0,6.23,128,Segunda Circular {Relógio - A2},MULTIPOLYGON (((-9.12710786547537 38.764274887...
7454596,2877,2023-01-01T01:00:00.000Z,187.279999,70.519997,144.899994,134.660004,0,4.79,67,Segunda Circular {Relógio - A2},MULTIPOLYGON (((-9.12710786547537 38.764274887...
...,...,...,...,...,...,...,...,...,...,...,...
9237883,3564,2023-01-31T22:45:00.000Z,152.820007,85.779999,66.760002,111.150002,0,11.15,34,Segunda Circular {Relógio - A2},MULTIPOLYGON (((-9.12171797377065 38.782484056...
9237884,3564,2023-01-31T23:00:00.000Z,105.699997,90.690002,55.450001,69.589996,0,13.14,45,Segunda Circular {Relógio - A2},MULTIPOLYGON (((-9.12171797377065 38.782484056...
9237885,3564,2023-01-31T23:15:00.000Z,153.410004,109.849998,103.760002,66.879997,0,9.29,34,Segunda Circular {Relógio - A2},MULTIPOLYGON (((-9.12171797377065 38.782484056...
9237886,3564,2023-01-31T23:30:00.000Z,94.250000,65.400002,39.910000,57.730000,0,11.28,34,Segunda Circular {Relógio - A2},MULTIPOLYGON (((-9.12171797377065 38.782484056...
9237887,3564,2023-01-31T23:45:00.000Z,156.529999,126.290001,82.190002,63.560001,0,10.63,40,Segunda Circular {Relógio - A2},MULTIPOLYGON (((-9.12171797377065 38.782484056...

In [10]:
merged_df['geometry'] = merged_df['wkt'].apply(lambda x: loads(x))

gdf_merged = gpd.GeoDataFrame(merged_df, geometry='geometry')
gdf_gdf = gpd.GeoDataFrame(gdf, geometry='geometry')

gdf_merged['Datetime'] = pd.to_datetime(gdf_merged['Datetime'])

result = gpd.sjoin(gdf_merged, gdf_gdf, how="inner", op='intersects').groupby([pd.Grouper(key='Datetime', freq='W-MON'), 'geometry'])['C1'].sum().reset_index()
#ver se o folium le diretamente multipolygons

#usar as coordenadas ou o multipolygon

print(result)

c:\Users\berna\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3382: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
C:\Users\berna\AppData\Local\Temp\ipykernel_66704\3296356261.py:8: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  result = gpd.sjoin(gdf_merged, gdf_gdf, how="inner", op='intersects').groupby([pd.Grouper(key='Datetime', freq='W-MON'), 'geometry'])['C1_x'].sum().reset_index()

KeyError: 'Column not found: C1_x'

In [ ]:
m = folium.Map(location=[gdf_merged.geometry.y.mean(), gdf_merged.geometry.x.mean()], zoom_start=10)

heat_data = [[point.xy[1][0], point.xy[0][0], w] for point, w in zip(result['geometry_y'], result['C1_x'])]
HeatMap(heat_data).add_to(m)

# Mostrando o mapa
m.fit_bounds([[38.6885, -9.2191], [38.8055, -9.1108]])

m.save('map.html')  
m